<a href="https://colab.research.google.com/github/tanushree2/summer-training/blob/main/Task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Tanushree Shah

TASK-5

Reg ID:GO_STP_7383

1)Load the IMDb Dataset and read

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
df=pd.read_csv("/content/IMDB-Movie-Data.csv")

2)View the dataset

In [2]:
df

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

3)Understand some basic information about the dataset and Inspect the dataframe Inspect the dataframe's columns, shapes, variable types etc.

In [3]:
df.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [4]:
df.tail(50)

     Rank                           Title  ... Revenue (Millions) Metascore
950   951  Me and Earl and the Dying Girl  ...               6.74      74.0
951   952                 The Descendants  ...              82.62      84.0
952   953              Sex and the City 2  ...              95.33      27.0
953   954             The Kings of Summer  ...               1.29      61.0
954   955                      Death Race  ...              36.06      43.0
955   956             That Awkward Moment  ...              26.05      36.0
956   957                          Legion  ...              40.17      32.0
957   958                    End of Watch  ...              40.98      68.0
958   959                  3 Days to Kill  ...              30.69      40.0
959   960             Lucky Number Slevin  ...              22.49      53.0
960   961                          Trance  ...               2.32      61.0
961   962                 Into the Forest  ...               0.01      59.0
962   963           The Other Boleyn Girl  ...              26.81      50.0
963   964            I Spit on Your Grave  ...               0.09      27.0
964   965                         Custody  ...                NaN      72.0
965   966                   Inland Empire  ...                NaN       NaN
966   967                       L'odyssée  ...                NaN      70.0
967   968                        The Walk  ...              10.14       NaN
968   969                         Wrecker  ...                NaN      37.0
969   970                 The Lone Ranger  ...              89.29       NaN
970   971               Texas Chainsaw 3D  ...              34.33      62.0
971   972                       Disturbia  ...              80.05       NaN
972   973                    Rock of Ages  ...              38.51      47.0
973   974                        Scream 4  ...              38.18      52.0
974   975                  Queen of Katwe  ...               8.81      73.0
975   976      My Big Fat Greek Wedding 2  ...              59.57      37.0
976   977                     Dark Places  ...                NaN      39.0
977   978                   Amateur Night  ...                NaN      38.0
978   979  It's Only the End of the World  ...                NaN      48.0
979   980              The Skin I Live In  ...               3.19      70.0
980   981            Miracles from Heaven  ...              61.69      44.0
981   982                           Annie  ...              85.91      33.0
982   983             Across the Universe  ...              24.34      56.0
983   984                   Let's Be Cops  ...              82.39      30.0
984   985                             Max  ...              42.65      47.0
985   986                   Your Highness  ...              21.56      31.0
986   987             Final Destination 5  ...              42.58      50.0
987   988                    Endless Love  ...              23.39      30.0
988   989                         Martyrs  ...                NaN      89.0
989   990                           Selma  ...              52.07       NaN
990   991  Underworld: Rise of the Lycans  ...              45.80      44.0
991   992                Taare Zameen Par  ...               1.20      42.0
992   993            Take Me Home Tonight  ...               6.92       NaN
993   994        Resident Evil: Afterlife  ...              60.13      37.0
994   995                       Project X  ...              54.72      48.0
995   996            Secret in Their Eyes  ...                NaN      45.0
996   997                 Hostel: Part II  ...              17.54      46.0
997   998          Step Up 2: The Streets  ...              58.01      50.0
998   999                    Search Party  ...                NaN      22.0
999  1000                      Nine Lives  ...              19.64      11.0

[50 rows x 12 columns]

In [5]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [6]:
df.ndim

2

In [7]:
df.size

12000

In [8]:
df.shape

(1000, 12)

In [9]:
df.values

array([[1, 'Guardians of the Galaxy', 'Action,Adventure,Sci-Fi', ...,
        757074, 333.13, 76.0],
       [2, 'Prometheus', 'Adventure,Mystery,Sci-Fi', ..., 485820, 126.46,
        65.0],
       [3, 'Split', 'Horror,Thriller', ..., 157606, 138.12, 62.0],
       ...,
       [998, 'Step Up 2: The Streets', 'Drama,Music,Romance', ..., 70699,
        58.01, 50.0],
       [999, 'Search Party', 'Adventure,Comedy', ..., 4881, nan, 22.0],
       [1000, 'Nine Lives', 'Comedy,Family,Fantasy', ..., 12435, 19.64,
        11.0]], dtype=object)

In [10]:

df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [11]:
df.describe()

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...          872.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...          103.253540   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           13.270000   47.000000
50%     500.500000  2014.000000  ...           47.985000   59.500000
75%     750.250000  2016.000000  ...          113.715000   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

In [12]:
df['Rating'].std()

0.9454287892779637

In [13]:
df['Votes'].median()

110799.0

In [14]:
df.sample()

     Rank       Title  ... Revenue (Millions) Metascore
387   388  Robin Hood  ...             105.22      53.0

[1 rows x 12 columns]

In [15]:
df.dropna()

     Rank                     Title  ... Revenue (Millions) Metascore
0       1   Guardians of the Galaxy  ...             333.13      76.0
1       2                Prometheus  ...             126.46      65.0
2       3                     Split  ...             138.12      62.0
3       4                      Sing  ...             270.32      59.0
4       5             Suicide Squad  ...             325.02      40.0
..    ...                       ...  ...                ...       ...
993   994  Resident Evil: Afterlife  ...              60.13      37.0
994   995                 Project X  ...              54.72      48.0
996   997           Hostel: Part II  ...              17.54      46.0
997   998    Step Up 2: The Streets  ...              58.01      50.0
999  1000                Nine Lives  ...              19.64      11.0

[838 rows x 12 columns]

4) Data Selection – Indexing and Slicing data

In [16]:
df['Genre']

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [17]:
df[['Title','Director']]

                       Title              Director
0    Guardians of the Galaxy            James Gunn
1                 Prometheus          Ridley Scott
2                      Split    M. Night Shyamalan
3                       Sing  Christophe Lourdelet
4              Suicide Squad            David Ayer
..                       ...                   ...
995     Secret in Their Eyes             Billy Ray
996          Hostel: Part II              Eli Roth
997   Step Up 2: The Streets            Jon M. Chu
998             Search Party        Scot Armstrong
999               Nine Lives      Barry Sonnenfeld

[1000 rows x 2 columns]

In [18]:
df[50:100]

    Rank  ... Metascore
50    51  ...      81.0
51    52  ...      23.0
52    53  ...      18.0
53    54  ...      68.0
54    55  ...      82.0
55    56  ...      79.0
56    57  ...      71.0
57    58  ...      51.0
58    59  ...      76.0
59    60  ...      74.0
60    61  ...      44.0
61    62  ...      65.0
62    63  ...      48.0
63    64  ...      46.0
64    65  ...      66.0
65    66  ...      58.0
66    67  ...      69.0
67    68  ...      90.0
68    69  ...      61.0
69    70  ...      68.0
70    71  ...      49.0
71    72  ...      60.0
72    73  ...      76.0
73    74  ...      23.0
74    75  ...      78.0
75    76  ...      50.0
76    77  ...      69.0
77    78  ...      69.0
78    79  ...      53.0
79    80  ...      60.0
80    81  ...      74.0
81    82  ...      72.0
82    83  ...      75.0
83    84  ...      79.0
84    85  ...      67.0
85    86  ...      59.0
86    87  ...      49.0
87    88  ...      83.0
88    89  ...      68.0
89    90  ...      51.0
90    91  ...      74.0
91    92  ...      32.0
92    93  ...      62.0
93    94  ...      57.0
94    95  ...      66.0
95    96  ...      70.0
96    97  ...      79.0
97    98  ...      62.0
98    99  ...      77.0
99   100  ...      85.0

[50 rows x 12 columns]

In [19]:
df.iloc[10:50,[1,2,3]]

                                          Title  ...                                        Description
10      Fantastic Beasts and Where to Find Them  ...  The adventures of writer Newt Scamander in New...
11                               Hidden Figures  ...  The story of a team of female African-American...
12                                    Rogue One  ...  The Rebel Alliance makes a risky move to steal...
13                                        Moana  ...  In Ancient Polynesia, when a terrible curse in...
14                                     Colossal  ...  Gloria is an out-of-work party girl forced to ...
15                      The Secret Life of Pets  ...  The quiet life of a terrier named Max is upend...
16                                Hacksaw Ridge  ...  WWII American Army Medic Desmond T. Doss, who ...
17                                 Jason Bourne  ...  The CIA's most dangerous former operative is d...
18                                         Lion  ...  A five-year-old Indian boy gets lost on the st...
19                                      Arrival  ...  When twelve mysterious spacecraft appear aroun...
20                                         Gold  ...  Kenny Wells, a prospector desperate for a luck...
21                        Manchester by the Sea  ...  A depressed uncle is asked to take care of his...
22                               Hounds of Love  ...  A cold-blooded predatory couple while cruising...
23                                       Trolls  ...  After the Bergens invade Troll Village, Poppy,...
24                 Independence Day: Resurgence  ...  Two decades after the first Independence Day i...
25                              Paris pieds nus  ...  Fiona visits Paris for the first time to assis...
26                      Bahubali: The Beginning  ...  In ancient India, an adventurous and daring ma...
27                                   Dead Awake  ...  A young woman must save herself and her friend...
28                                     Bad Moms  ...  When three overworked and under-appreciated mo...
29                             Assassin's Creed  ...  When Callum Lynch explores the memories of his...
30                                     Why Him?  ...  A holiday gathering threatens to go off the ra...
31                            Nocturnal Animals  ...  A wealthy art gallery owner is haunted by her ...
32                            X-Men: Apocalypse  ...  After the re-emergence of the world's first mu...
33                                     Deadpool  ...  A fast-talking mercenary with a morbid sense o...
34             Resident Evil: The Final Chapter  ...  Alice returns to where the nightmare began: Th...
35                   Captain America: Civil War  ...  Political interference in the Avengers' activi...
36                                 Interstellar  ...  A team of explorers travel through a wormhole ...
37                               Doctor Strange  ...  While on a journey of physical and spiritual h...
38                        The Magnificent Seven  ...  Seven gunmen in the old west gradually come to...
39                                    5- 25- 77  ...  Alienated, hopeful-filmmaker Pat Johnson's epi...
40                                Sausage Party  ...  A sausage strives to discover the truth about ...
41                                    Moonlight  ...  A chronicle of the childhood, adolescence and ...
42                      Don't Fuck in the Woods  ...  A group of friends are going on a camping trip...
43                                  The Founder  ...  The story of Ray Kroc, a salesman who turned t...
44                                    Lowriders  ...  A young street artist in East Los Angeles is c...
45  Pirates of the Caribbean: On Stranger Tides  ...  Jack Sparrow and Barbossa embark on a quest to...
46                                  Miss Sloane  ...  In the high-stakes world of political power-br...
47                                       Fallen  ...  A young girl finds herself in a reform school ...
48                             Star Trek Beyond  ...  The USS Enterprise crew explores the furthest ...
49                                The Last Face  ...  A director (Charlize Theron) of an internation...

[40 rows x 3 columns]

In [20]:
df.loc[10:40,['Title']]

                                      Title
10  Fantastic Beasts and Where to Find Them
11                           Hidden Figures
12                                Rogue One
13                                    Moana
14                                 Colossal
15                  The Secret Life of Pets
16                            Hacksaw Ridge
17                             Jason Bourne
18                                     Lion
19                                  Arrival
20                                     Gold
21                    Manchester by the Sea
22                           Hounds of Love
23                                   Trolls
24             Independence Day: Resurgence
25                          Paris pieds nus
26                  Bahubali: The Beginning
27                               Dead Awake
28                                 Bad Moms
29                         Assassin's Creed
30                                 Why Him?
31                        Nocturnal Animals
32                        X-Men: Apocalypse
33                                 Deadpool
34         Resident Evil: The Final Chapter
35               Captain America: Civil War
36                             Interstellar
37                           Doctor Strange
38                    The Magnificent Seven
39                                5- 25- 77
40                            Sausage Party

5) Data Selection – Based on Conditional filtering

In [21]:
df1=df[df['Votes']>60000]
df1

     Rank                     Title  ... Revenue (Millions) Metascore
0       1   Guardians of the Galaxy  ...             333.13      76.0
1       2                Prometheus  ...             126.46      65.0
2       3                     Split  ...             138.12      62.0
3       4                      Sing  ...             270.32      59.0
4       5             Suicide Squad  ...             325.02      40.0
..    ...                       ...  ...                ...       ...
991   992          Taare Zameen Par  ...               1.20      42.0
993   994  Resident Evil: Afterlife  ...              60.13      37.0
994   995                 Project X  ...              54.72      48.0
996   997           Hostel: Part II  ...              17.54      46.0
997   998    Step Up 2: The Streets  ...              58.01      50.0

[670 rows x 12 columns]

In [22]:
df2=df[df['Rating']>6]
df2

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
991   992         Taare Zameen Par  ...               1.20      42.0
992   993     Take Me Home Tonight  ...               6.92       NaN
994   995                Project X  ...              54.72      48.0
995   996     Secret in Their Eyes  ...                NaN      45.0
997   998   Step Up 2: The Streets  ...              58.01      50.0

[790 rows x 12 columns]

6) Groupby operations

In [23]:
df.groupby('Title',sort=True)[['Rating']].mean()

                      Rating
Title
(500) Days of Summer     7.7
10 Cloverfield Lane      7.2
10 Years                 6.1
12 Years a Slave         8.1
127 Hours                7.6
...                      ...
Zipper                   5.7
Zodiac                   7.7
Zombieland               7.7
Zoolander 2              4.7
Zootopia                 8.1

[999 rows x 1 columns]

In [24]:
g = df.groupby('Genre')
g[['Revenue (Millions)']].std()

                            Revenue (Millions)
Genre
Action                                     NaN
Action,Adventure                    136.038367
Action,Adventure,Biography           12.006673
Action,Adventure,Comedy             103.476124
Action,Adventure,Crime               84.277317
...                                        ...
Romance,Sci-Fi,Thriller                    NaN
Sci-Fi                                     NaN
Sci-Fi,Thriller                            NaN
Thriller                                   NaN
Thriller,War                               NaN

[207 rows x 1 columns]

7) Sorting operation

In [25]:
df_sorted=df.sort_values(by='Rating')
df_sorted

     Rank                    Title  ... Revenue (Millions) Metascore
829   830           Disaster Movie  ...              14.17      15.0
42     43  Don't Fuck in the Woods  ...                NaN       NaN
871   872     Dragonball Evolution  ...               9.35      45.0
647   648                 Tall Men  ...                NaN      57.0
968   969                  Wrecker  ...                NaN      37.0
..    ...                      ...  ...                ...       ...
36     37             Interstellar  ...             187.99      74.0
249   250         The Intouchables  ...              13.18      57.0
117   118                   Dangal  ...              11.15       NaN
80     81                Inception  ...             292.57      74.0
54     55          The Dark Knight  ...             533.32      82.0

[1000 rows x 12 columns]

In [26]:
df.sort_index(ascending=False)

     Rank                    Title  ... Revenue (Millions) Metascore
999  1000               Nine Lives  ...              19.64      11.0
998   999             Search Party  ...                NaN      22.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
996   997          Hostel: Part II  ...              17.54      46.0
995   996     Secret in Their Eyes  ...                NaN      45.0
..    ...                      ...  ...                ...       ...
4       5            Suicide Squad  ...             325.02      40.0
3       4                     Sing  ...             270.32      59.0
2       3                    Split  ...             138.12      62.0
1       2               Prometheus  ...             126.46      65.0
0       1  Guardians of the Galaxy  ...             333.13      76.0

[1000 rows x 12 columns]

In [27]:
df_sorted1=df.sort_values(by=['Rank','Rating'],ascending=[True,False])
df_sorted1

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

8) Dealing with missing values

In [28]:
df.isnull()

      Rank  Title  Genre  ...  Votes  Revenue (Millions)  Metascore
0    False  False  False  ...  False               False      False
1    False  False  False  ...  False               False      False
2    False  False  False  ...  False               False      False
3    False  False  False  ...  False               False      False
4    False  False  False  ...  False               False      False
..     ...    ...    ...  ...    ...                 ...        ...
995  False  False  False  ...  False                True      False
996  False  False  False  ...  False               False      False
997  False  False  False  ...  False               False      False
998  False  False  False  ...  False                True      False
999  False  False  False  ...  False               False      False

[1000 rows x 12 columns]

9) Dropping columns and null values

In [29]:
df.dropna()

     Rank                     Title  ... Revenue (Millions) Metascore
0       1   Guardians of the Galaxy  ...             333.13      76.0
1       2                Prometheus  ...             126.46      65.0
2       3                     Split  ...             138.12      62.0
3       4                      Sing  ...             270.32      59.0
4       5             Suicide Squad  ...             325.02      40.0
..    ...                       ...  ...                ...       ...
993   994  Resident Evil: Afterlife  ...              60.13      37.0
994   995                 Project X  ...              54.72      48.0
996   997           Hostel: Part II  ...              17.54      46.0
997   998    Step Up 2: The Streets  ...              58.01      50.0
999  1000                Nine Lives  ...              19.64      11.0

[838 rows x 12 columns]

10) Apply( ) functions

In [30]:
df["Rank"].apply(np.square)

0            1
1            4
2            9
3           16
4           25
        ...
995     992016
996     994009
997     996004
998     998001
999    1000000
Name: Rank, Length: 1000, dtype: int64